.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

body {
    font-family: sans-serif;
}

body a, body a:visited {
    color: #390d75;
}

ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

hr {
    border: none;
    height: 2px;
    background: #ab89db;
    width: 75%;
    margin: 0 auto;
    padding: 0;
}

.icon { height: 16px; }

.pronouns { font-size: 9pt; color: #aaa; font-style: italic; padding: 0; margin: 0; font-family: 'Nunito', sans-serif; }

.content-sidebar {
    font-family: sans-serif;
}

.content-sidebar .my-info {
}

.content-sidebar .my-info,
.content-sidebar nav {
    float: left;
}

.content-sidebar .image-logo { text-align: center; }
.content-sidebar .image-logo img { width: 200px; }

.content-sidebar .my-info h1 {
    padding: 0;
    margin: 0;
}

.content-sidebar .available-location {
    font-size: 11pt;
    font-style: italic;
}

.content-sidebar .my-info .contact-info {
    font-family: monospace;
    font-size: 12pt;
}

.content { }

.content-sidebar .my-info .contact-info {
}

.content-sidebar nav ul { 
    list-style-type: none;
}

.content-holder { 
    position: relative; 
}

.content-holder .content-sidebar { 
    width: 300px; left: 0; top: 0; position: absolute; 
}

.content-holder .content-body .content { 
    padding-left: 310px; 
}

.content-holder .content-sidebar nav ul {
    list-style-type: none; 
}

.content-holder .content-body { 
    width: 100%; 
}

.content-sidebar ul.quick-access { margin-top: 20px; }
.content-sidebar ul.print { margin-top: 20px; }

.url-preview {
    display: none;
}

.content {
    background: #fff;
}

.content-sidebar { 
}

/* Resume entry */


.resume-entry {
    margin-bottom: 20px;
    border-left: solid 5px #ab89db;
    border-bottom: solid 5px #ab89db;
    padding-left: 10px;
    background: #faf7ff;
}

.resume-entry p, .resume-entry h3 { 
    padding: 5px; margin: 0; 
}

.resume-entry .title { font-weight: bold; }

.resume-entry .dates {
    font-size: 10pt;
    font-style: italic;
}

.resume-entry .location {
/*
    background: #f67979;
*/
}

.resume-entry {
    text-align: left;
    font-size: 11pt;
}

.resume-entry .title,
.resume-entry .degree { float: right; font-size: 12pt; font-weight: bold; }
.resume-entry .location { float: left; }
.resume-entry .degree { font-weight: bold;  }

.resume-entry .honors { font-size: 10pt; }
.resume-entry .tasks { font-size: 10pt; }
.resume-entry .skills { font-size: 10pt; }

.volunteering { font-size: 10pt; }

/* Portfolio */

.portfolio .project{
    margin-bottom: 20px;
    border-left: solid 5px #ab89db;
    border-bottom: solid 5px #ab89db;
    padding-left: 10px;
    background: #faf7ff;
    font-size: 10pt;
}

.portfolio .project .title { font-size: 12pt; font-weight: bold; }
.portfolio .project .year {}
.portfolio .project .description { font-size: 10pt; }
.portfolio .project .tools {}
.portfolio .project .link {}

.portfolio .project .info { float:left; width: 70%; }
.portfolio .project .gallery { float:right; width: 25%; }

.gallery .image { float: left; width: 20%; margin: 1%; }
.gallery .image img { width: 100%; }

/* Fonts */

nav ul li {
    font-family: 'Nunito', sans-serif; 
}

h1, 
h2, 
h3,
h4,
.location, 
.title,
.resume-entry .degree { 
    font-family: 'Nunito', sans-serif; 
}

.header {
    font-family: 'Nunito', sans-serif; 
    font-weight: bold; 
}

.content .my-info {
    display: none;
}

h1 { font-size: 14pt; }
h2 { font-size: 13pt; }
h3 { font-size: 12pt; }


/* PRINTER */
@media print {
    .page-header .my-info {
        text-align: center; 
        width: 100%;
    }
    
    .page-header nav { 
        display: none; 
    }
    
    .content-sidebar {
        display: none;
    }
    
    .content-holder .content-body .content { 
        padding-left: 0; 
    }

    .url-preview {
        font-size: 10pt;
        display: inline;
    }
    
    .content .my-info {
        display: block;
    }
    
    .resume-entry {
        border-left: solid 1px #ab89db;
        border-bottom: solid 1px #ab89db;
    }
}

/* MOBILE */

@media only screen and (max-device-width: 480px) {
    .page-header .my-info {
        text-align: center; 
        width: 100%;
    }
    
    .page-header nav { 
        display: none; 
    }
    
    .content-sidebar {
        display: none;
    }
    
    .content-holder .content-body .content { 
        padding-left: 0; 
    }

    .url-preview {
        font-size: 10pt;
        display: inline;
    }
    
    .content .my-info {
        display: block;
    }
    
    .resume-entry {
        border-left: solid 1px #ab89db;
        border-bottom: solid 1px #ab89db;
    }
}



